parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     3306
    database_name:     wellcommerce
    database_user:     root
    database_password: ~

    locale:            en
    secret:            ~

    search_adapter: algolia
    search_index_prefix: wellcommerce_

    algolia_id: "C2VGT4PGWH"
    algolia_key: "b48fb9f6a4eee57f10e3079af095533b"
